body{
    background: peachpuff
}
.topPanel{
    position: fixed;
    top: 0;
    left: 0;
    /*height: auto;*/
    height: 60px;
    width: 96%;
    text-align: left;
    padding: 5px;
    background: peachpuff;
    font-size: xx-large;
}

.ad{
    text-align: left;
    position: fixed;
    top: 50px;
    right: 3%;
    height: 10px;
    width: fit-content;
    font-size: x-small;
}

.ad1{
    float: left;
    padding: 1px;
}
.ad2{
    float: right;
    padding: 1px;
}

.canvas{
    background: ghostwhite;
    position: fixed;
    left: 0;
    top: 80px;
    right: 10px;
    bottom: 10px;
    overflow: scroll;
    padding: 4px;
}
.problemDef{
    background: lightsteelblue;
    padding: 1%;
    padding-right: 3%;
    width: 96%;
}
.code{
    background: white;
    padding-left: 60px;
    width: fit-content;
}
.output{
    background: white;
    padding-left: 60px;
    width: fit-content;
}
.explanation{
    background: white;
    padding-left: 0%;
}
.probContainer{
    border: 1px solid olivedrab;
    padding: 2px;
}
.collapsible:after {
    content: '\002B';
    color: red;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible.active:after{
    content: "\2212";
    float: right;
}
pre.prettyprint {
    width: 100%;
}

.collapsi:after {
    content: 'Expand All';
    color: red;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: small;
}

.collapsi.activ:after{
    content: "Collapse All";
    float: right;
}
.titlecode{
    float: left;
    font-family: "Monospaced";
    font-weight: bold;
    color: rosybrown;
    vertical-align: middle;
    padding-top: 1em;
    padding-left: 1em;
    width: 4%;
    font-size: smaller;
}
.content{
    padding-left: 3%;
    width: 94%;
}

